# 1.Import library

In [306]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

# 2.Load data

In [307]:
df = pd.read_csv("../Data/BatDongSan.csv")
df.head(10)

,Unnamed: 0,DiaChi,DienTich,Phongngu,SoTang,PhongTam,Loai,TinhTrangNoiThat,HuongCuaChinh,HuongBanCong,Gia
0,0,"Đường Nguyễn Văn Quỳ, Phường Phú Thuận, Quận 7...",62 m²,2 phòng,NaN,2 phòng,Chung cư,NaN,NaN,NaN,2 tỷ- 62 m2đ
1,1,"Đường Nguyễn Văn Linh, Phường Tân Thuận Tây, Q...",95 m²,3 phòng,NaN,2 phòng,Chung cư,Nội thất cao cấp,NaN,NaN,"5,3 tỷ- 95 m2đ"
2,2,"Đường Võ Văn Kiệt, Phường An Lạc, Quận Bình Tâ...",75 m²,2 phòng,5.0,2 phòng,Chung cư,NaN,Đông Nam,Đông Nam,"2,58 tỷ- 75 m2đ"
3,3,"108, Đường Hồng Hà, Phường 2, Quận Tân Bình, T...",70 m²,1 phòng,7.0,1 phòng,Chung cư,Nội thất cao cấp,Đông Nam,Tây Bắc,4 tỷ- 70 m2đ
4,4,"Đường Hậu Giang, Phường 11, Quận 6, Tp Hồ Chí ...",83 m²,2 phòng,NaN,2 phòng,Chung cư,Nội thất cao cấp,Tây Bắc,NaN,"2,95 tỷ- 83 m2đ"
5,5,"196, 196 Đường Cao Lỗ, Phường 4, Quận 8, Tp Hồ...",71 m²,2 phòng,NaN,1 phòng,Chung cư,NaN,NaN,NaN,"1,98 tỷ- 71 m2đ"
6,6,"79-81, 79-81 Đường Nguyễn Xí, Phường 26, Quận ...",71 m²,2 phòng,NaN,2 phòng,Chung cư,NaN,NaN,NaN,"2,72 tỷ- 71 m2đ"
7,7,"Đường Nguyễn Văn Linh, Xã Bình Hưng, Huyện Bìn...",78 m²,2 phòng,9.0,2 phòng,Chung cư,NaN,NaN,NaN,"2,59 tỷ- 78 m2đ"
8,8,"Đường Hồ Học Lãm, Phường An Lạc, Quận Bình Tân...",50 m²,1 phòng,3.0,1 phòng,Chung cư,Hoàn thiện cơ bản,Nam,Bắc,"1,39 tỷ- 50 m2đ"
9,9,"Đường Nguyễn Văn Bứa, Xã Xuân Thới Sơn, Huyện ...",40 m²,1 phòng,NaN,1 phòng,Chung cư,NaN,NaN,NaN,150 triệu- 40 m2đ

## 3.Data cleaning

## 3.1 Hiểu dữ liệu

In [308]:
# hiển thị tên của các cột 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24949 entries, 0 to 24948
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        24949 non-null  int64
 1   DiaChi            24949 non-null  object
 2   DienTich          24917 non-null  object
 3   Phongngu          24926 non-null  object
 4   SoTang            6726 non-null   float64
 5   PhongTam          24388 non-null  object
 6   Loai              24926 non-null  object
 7   TinhTrangNoiThat  12790 non-null  object
 8   HuongCuaChinh     9370 non-null   object
 9   HuongBanCong      8670 non-null   object
 10  Gia               24949 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 2.1+ MB

In [309]:
# kiểm tra số hàng và cột 
df.shape

(24949, 11)

In [310]:
#kiểm tra giá trị bị thiếu
df.isna().sum()

Unnamed: 0              0
DiaChi                  0
DienTich               32
Phongngu               23
SoTang              18223
PhongTam              561
Loai                   23
TinhTrangNoiThat    12159
HuongCuaChinh       15579
HuongBanCong        16279
Gia                     0
dtype: int64

In [311]:
## bản này giúp ta nhìn tổng quan về bộ dữ liệu (nhưng vì lí do chưa làm sạch nên chưa chính xác)
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,24949.0,12474.000000,7202.300269,0.0,6237.0,12474.0,18711.0,24948.0
SoTang,6726.0,11.482307,18.142728,1.0,5.0,9.0,16.0,789.0

## 3.2 tạo thuộc tính mới và làm sạch

In [312]:
# loại bỏ cột thứ tự
#df = df.drop("Unnamed: 0", axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24949 entries, 0 to 24948
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        24949 non-null  int64
 1   DiaChi            24949 non-null  object
 2   DienTich          24917 non-null  object
 3   Phongngu          24926 non-null  object
 4   SoTang            6726 non-null   float64
 5   PhongTam          24388 non-null  object
 6   Loai              24926 non-null  object
 7   TinhTrangNoiThat  12790 non-null  object
 8   HuongCuaChinh     9370 non-null   object
 9   HuongBanCong      8670 non-null   object
 10  Gia               24949 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 2.1+ MB

In [313]:
#xóa từ phòng trong phòng ngủ
df['Phongngu'] = df['Phongngu'].str.replace('phòng', '')
df['Phongngu'] = df['Phongngu'].str.replace('nhiều hơn 10', '10')
#chuyển đỗi phòng ngủ qua dạng số
df['Phongngu'] = df['Phongngu']

In [314]:
df['Phongngu'].unique()

array([' 2 ', ' 3 ', ' 1 ', ' 4 ', nan, ' 5 ', ' 6 ', ' 10 ', ' 7 ',
       ' 8 '], dtype=object)

In [315]:
#xóa từ phòng trong PhongTam
df['PhongTam'] = df['PhongTam'].str.replace('phòng', '')
df['PhongTam'] = df['PhongTam'].str.replace('Nhiều hơn 6', '6')
#đổi giá trị NaN thành 0
df["PhongTam"] = df["PhongTam"].fillna(0)
#chuyển đỗi phòng ngủ qua dạng số
df['PhongTam'] = df['PhongTam']

In [316]:
df['PhongTam'].unique()

array([' 2 ', ' 1 ', ' 4 ', ' 3 ', 0, ' 5 ', ' 6 '], dtype=object)

In [317]:
df.rename(columns={"DienTich": "DienTich(m²)"}, inplace=True)
#xóa từ m2 trong cột diện tích
df['DienTich(m²)'] = df['DienTich(m²)'].str.replace('m²', '')
df['DienTich(m²)'] = df['DienTich(m²)'].str.replace('m2', '')
df = df[df['DienTich(m²)'].notnull()]

In [318]:
df['DienTich(m²)'].unique()

array([' 62 ', ' 95 ', ' 75 ', ..., ' 81.3 ', ' 57.32 ', ' 68.52 '],
      shape=(1010,), dtype=object)

In [319]:
df['TinhTrangNoiThat'] = df['TinhTrangNoiThat'].fillna('Không có nội thất')

In [320]:
def tach_dia_chi(dia_chi):
    duong = re.search(r'^(.*?),', dia_chi)
    phuong = re.search(r'Phường\s([\w\s]+)', dia_chi)
    quan = re.search(r'Quận\s([\w\s]+)', dia_chi)
    thanh_pho = re.search(r'(Tp|Thành phố)\s[\w\s]+$', dia_chi)

    return [
        duong.group(1) if duong else '', 
        phuong.group(1) if phuong else '', 
        quan.group(1) if quan else '', 
        thanh_pho.group(0) if thanh_pho else ''
    ]
df[['Duong', 'Phuong', 'Quan', 'ThanhPho']] = df['DiaChi'].apply(lambda x: pd.Series(tach_dia_chi(x)))
df.drop(columns=['DiaChi'], inplace=True)

In [321]:
#xoá các nhà có hơn 70 tầng
df.drop(df[df['SoTang'] >= 70].index, inplace=True)
#đổi giá trị NaN thành 0
df["SoTang"] = df["SoTang"].fillna(0)

In [322]:
df.rename(columns={"Gia": "Gia(Triệu)"}, inplace=True)
#tách giá tiền và đổi đơn vị
def extract_price(text):
    match = re.search(r'([\d,.]+)\s*(tỷ|triệu)?', str(text), re.IGNORECASE)  
    if match:
        value = float(match.group(1).replace(',', '.'))
        unit = match.group(2)

        if unit and "tỷ" in unit.lower():  
            value *= 1000

        return int(value)
    
    return None

df["Gia(Triệu)"] = df["Gia(Triệu)"].apply(extract_price)
df = df[df['Gia(Triệu)'].notnull()]

In [323]:
cols = ["DienTich(m²)", "Phongngu", "PhongTam"]
df[cols] = df[cols].apply(pd.to_numeric, errors="coerce")

In [324]:
print(df.dtypes)

Unnamed: 0            int64
DienTich(m²)        float64
Phongngu              int64
SoTang              float64
PhongTam              int64
Loai                 object
TinhTrangNoiThat     object
HuongCuaChinh        object
HuongBanCong         object
Gia(Triệu)          float64
Duong                object
Phuong               object
Quan                 object
ThanhPho             object
dtype: object

In [329]:
#giá mỗi m2 đất
df["Gia_m²(Triệu)"] = (df["Gia(Triệu)"] / df["DienTich(m²)"]).round(2)

In [330]:
df.head(10)

,Unnamed: 0,DienTich(m²),Phongngu,SoTang,PhongTam,Loai,TinhTrangNoiThat,HuongCuaChinh,HuongBanCong,Gia(Triệu),Duong,Phuong,Quan,ThanhPho,Gia_m²(Triệu)
0,0,62.0,2,0.0,2,Chung cư,Không có nội thất,NaN,NaN,2000.0,Đường Nguyễn Văn Quỳ,Phú Thuận,7,Tp Hồ Chí Minh,32.26
1,1,95.0,3,0.0,2,Chung cư,Nội thất cao cấp,NaN,NaN,5300.0,Đường Nguyễn Văn Linh,Tân Thuận Tây,7,Tp Hồ Chí Minh,55.79
2,2,75.0,2,5.0,2,Chung cư,Không có nội thất,Đông Nam,Đông Nam,2580.0,Đường Võ Văn Kiệt,An Lạc,Bình Tân,Tp Hồ Chí Minh,34.40
3,3,70.0,1,7.0,1,Chung cư,Nội thất cao cấp,Đông Nam,Tây Bắc,4000.0,108,2,Tân Bình,Tp Hồ Chí Minh,57.14
4,4,83.0,2,0.0,2,Chung cư,Nội thất cao cấp,Tây Bắc,NaN,2950.0,Đường Hậu Giang,11,6,Tp Hồ Chí Minh,35.54
5,5,71.0,2,0.0,1,Chung cư,Không có nội thất,NaN,NaN,1980.0,196,4,8,Tp Hồ Chí Minh,27.89
6,6,71.0,2,0.0,2,Chung cư,Không có nội thất,NaN,NaN,2720.0,79-81,26,Bình Thạnh,Tp Hồ Chí Minh,38.31
7,7,78.0,2,9.0,2,Chung cư,Không có nội thất,NaN,NaN,2590.0,Đường Nguyễn Văn Linh,,,Tp Hồ Chí Minh,33.21
8,8,50.0,1,3.0,1,Chung cư,Hoàn thiện cơ bản,Nam,Bắc,1390.0,Đường Hồ Học Lãm,An Lạc,Bình Tân,Tp Hồ Chí Minh,27.80
9,9,40.0,1,0.0,1,Chung cư,Không có nội thất,NaN,NaN,150.0,Đường Nguyễn Văn Bứa,,,Tp Hồ Chí Minh,3.75

In [327]:
df.isna().sum()

Unnamed: 0              0
DienTich(m²)            0
Phongngu                0
SoTang                  0
PhongTam                0
Loai                    0
TinhTrangNoiThat        0
HuongCuaChinh       15545
HuongBanCong        16245
Gia(Triệu)              0
Duong                   0
Phuong                  0
Quan                    0
ThanhPho                0
Gia_m²(Triệu)           0
dtype: int64

In [331]:
df.to_csv('Temp.csv', index=False, encoding='utf-8-sig')